.row {
    margin-bottom: 10px;
}

.row label {
    display: block;
}

#error {
    color: #FF0000;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.comment a {
    text-decoration: none;
    font-size: 0.8em;
}
